<ion-view class="pane">
  <ion-content>
  	<div class="front-pane">
  		<button class="button button-block button-energized" ui-sref="app.newpackage">
  			יש לי חבילה להעביר
  		</button>
  		<button class="button button-block button-royal">
  			רוצה לקחת איתי משהו
  		</button>
  		<div class="about-shortened">
  			<h3 style="color:#fff;font-weight:bold">Dolive</h3>,אפליקציה המאפשרת לכל אחד<br>.גם לך, לקחת משלוח על הדרך<br><br>
  			לחילופין, כל אחד לשלוח משהו באמצעות<br>אדם אחר שגם ככה נוסע לאיזור שאתה צריך
  		<br><h2 style="color:#fff;font-weight:bold">?מה דעתך לנסות</h2><br>
  		</div>

  	</div>
  </ion-content>
</ion-view>